<html>
    <body> 
<header class="myElement">
        <a href="#" class="logo" ><img src="images/logo.jpeg" width="180" height="80"></a>
        <nav class="navigation">
            <label class="switch">
                <input type="checkbox" id="dark-mode-toggle" onchange="toggleDarkMode();">
                <span class="slider round"></span>
                <i class="fa-regular fa-moon"></i>
              </label>
            <a href="/Home" class="nav1">Home</a>
            <a href="/Products" class="nav1">Products</a>
            <a href="/MyAccount" class="nav1"><i class="fa-solid fa-user"></i></a>
            
        </nav>
    </header>
       
<section>
    <div id="mySidenav" class="sidenav">
        <a href="/adminProducts" id="Products">Products<i class="fa-solid fa-cart-shopping"></i></a>
        <a href="/users" id="Users">Users&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-users"></i></a>
        <a href="/orders" id="Orders">Orders&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-basket-shopping"></i></a>
    </div>
</section>
    </body>
</html>