<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/StyleProd.css">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
   
    <title>Products</title>
    <script src="js/Prod.js"></script>
</head>
<body class="bodyy">
    <%- include('partials/nav') %>
    <section class="Products">
        <div class="prod">
            
    <div class="shopp">
        <h2 class="prd">All Products</h2>
        <a href="allproducts.html"><img src="images/all.jpg" alt="Makeup img" width="318" height="300"></a>   
       
    </div>
 <div class="shopp">
    <h2 class="fac">Face</h2>
        <a href="face.html"><img src="images/face.jpg" alt="Makeup img" width="318" height="300"></a> 

 </div>
 <div class="shopp">
    <h2 class="ey">Eyes</h2>
        <a href="Eyes.html"><img src="images/eye.jpg" alt="Makeup img" width="318" height="300"></a> 

 </div>
 <div class="shopp">
    <h2 class="lipss">Lips</h2>
    <a href="lip.html"><img src="images/lips.jpg" alt="Makeup img" width="318" height="300"></a> 
 </div>
 <div class="shopp">
    <h2 class="brows">Brows</h2>
    <a href="/brow"><img src="images/brows.jpg" alt="Makeup img" width="318" height="300"></a> 
 </div>
 <div class="shopp">
    <h2 class="tools">Tools</h2>
    <a href="/tools"><img src="images/tools1.jpg" alt="Makeup img" width="318" height="300"></a> 
 </div>
</div>
 
  
 </section>
   
</body>
</html>